<div class="certificates">
    <div class="certificates__inner">
        <h2 class="certificates__h2">Лицензия</h2>
        <div class="js-certificates">
            <a class="certificates__item" href="">
                <img src="" alt="">
            </a>
            <a class="certificates__item" href="">
                <img src="" alt="">
            </a>
            <a class="certificates__item" href="">
                <img src="" alt="">
            </a>
            <a class="certificates__item" href="">
                <img src="" alt="">
            </a>
        </div>
        <h2 class="certificates__h2">Сертификаты соответствия</h2>
        <div class="js-certificates">

        </div>
        <h2 class="certificates__h2">Менеджмент качества труда</h2>
        <div class="js-certificates">

        </div>
        <h2 class="certificates__h2">СТ-KZ</h2>
        <div class="js-certificates">

        </div>
        <h2 class="certificates__h2">Партнерские сертификаты</h2>
        <div class="js-certificates">

        </div>
    </div>
</div>