<div class="frequency">
    <div class="container-fluid">
        <div class="w-100">
            <div class="frequency__scroll">
                <div class="frequency__inner">
                    <div class="frequency__item">
                        <div class="frequency__num">91.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Алматы</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">107.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Астана</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">100.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Шымкент</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">104.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Актобе</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">104.4 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Караганда</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">102.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Усть-Каменогорск</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">102.9 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Павлодар</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">101.4 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Кызылорда</div>
                    </div>
                    <div class="frequency__item">
                        <div class="frequency__num">103.3 FM</div>
                        <div class="frequency__img"><img src="img/frequency-img.png" alt=""></div>
                        <div class="frequency__city">Уральск</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>