<header class="header container mb-4">
    <div class="row">
        <div class="col-md-2 mb-4">
            <div class="header__berik">
                <img src="img/berik.png" alt="">
                <h2>Берик Есенбай</h2>
                <p>ведущий эфира</p>
            </div>
        </div>
        <div class="col-md-8  mb-4">
            <img src="img/logo.svg" alt="">
        </div>
        <div class="col-md-2  mb-4">
            <div class="header__online">
                <div class="header__circle js-circle"></div>
                <h2>Радио онлайн</h2>
                <audio src="https://stream.gakku.tv/dacha" class="player__js" preload="" />
            </div>
        </div>
    </div>
</header>