<div class="material py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <img class="material__img" data-src="" alt="" src="img/material-1.jpg" data-holder-rendered="true">
                <div class="text-center">
                    <p class="material__anons">Возможность сказать в&nbsp;эфире теплые слова в&nbsp;адрес близких людей и&nbsp;заказать любимую
                        песню.</p>
                    <p><b>Время выхода:</b></p>
                    <p>&laquo;Удачный час&raquo;:<br/>
                        12:00, 19:00&nbsp;&mdash; ежедневно.<br/>
                        &laquo;Удачный момент&raquo;: в&nbsp;конце каждого часа&nbsp;&mdash; ежедневно.</p>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <img class="material__img" data-src="" alt="" src="img/material-2.jpg" data-holder-rendered="true">
                <div class="text-center">
                    <p class="material__anons">Самая полная и эксклюзивная радиоверсия новогоднего музыкального фестиваля.</p>
                    <p><b>Время выхода:</b></p>
                    <p>15:00 – ежедневно</p>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <img class="material__img" data-src="" alt="" src="img/material-3.jpg" data-holder-rendered="true">
                <div class="text-center">
                    <p class="material__anons">Актуальные новости политики, экономики, общественной жизни, культуры, спорта, развлечений. </p>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <img class="material__img" data-src="" alt="" src="img/material-4.jpg" data-holder-rendered="true">
                <div class="text-center">
                    <p class="material__anons">Четырехчасовой нон-стоп марафон отечественных танцевальных хитов.</p>
                    <p><b>Время выхода:</b></p>
                    <p>20:00 – пятница, суббота.</p>
                </div>
            </div>
        </div>
    </div>
</div>