<div class="upline">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="col-lg-4">
                <a href="#"><img src="img/location.svg" alt=""> Республика Казахстан, г. Астана
                    ул. Бейсекбаева, 28</a>
            </div>
            <div class="col-lg-3">
                <a href="#"><img src="img/mail.svg" alt=""> info@eks-2002.kz</a>
            </div>
            <div class="col-lg-2">
                <a href="#"><img src="img/phone.svg" alt="">+7 (7172) 472-574</a><br>
                <a href="#">+7 701 516 69 28</a>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О компании</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ЭЛЕКТРОЩИТОВОЕ ОБОРУДОВАНИЕ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ЭНЕРГЕТИКА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>