<div class="upline">
    <div class="container">
        <div class="row">
            <div class="w-100">
                <!--<a href="#"><img src="img/inst.svg" width="23" height="23" alt=""></a>
                <a href="#"><img src="img/whatsapp.svg" width="23" height="23" alt=""></a>
                <a href="#"><img src="img/fb.svg" width="10" height="23" alt=""></a>-->
                <p>По вопросам рекламы:<br>
                <a href="tel:+77272200012">Алматы: +7 (7272) 20 00 12,</a><a href="tel:+77272200012">Астана: +7 (7172) 576 300</a>
                </p>
            </div>
        </div>
    </div>
</div>