.gallery{
	width: 100%;
	&__item{
		width: 100%;
		max-width: 350px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 20px;
		margin-right: 20px;
		&:nth-child(3n){
			margin-right: 0;
		}
		img{
			max-width: 100%;
		}
	}
	@include r(375){
		&__item{
			margin-right: 0;
		}
	}
}